.header { margin-top: 50px;}
.logo { float: left;}
.navbar-new { width: 430px; margin-right: 0px; color: #000; float: left; margin-left: 78px; margin-top: 10px;}
.navbar-new ul li { display: inline;}
.navbar-new ul li a { display: inline; text-decoration: none; padding-right: 30px; color: #000; font-size: 14px; font-weight: bold;}
.img-header { width: 100%; min-height: 30px; padding-bottom:6px;}
.img-header img { float: left; margin-right: 10px; }
.img-header h3 { float: left;}
.sign-up { float: right; margin-top:-10px;}
.sign-up ul li { display: inline;}

.sign-up ul li:first-child a { background:#904799; }

.sign-up ul li a {
  background: #EB7252;
  float: left; 
  display: inline;
  border-radius: 3px; 
  color: #FFF;
  font-size:14px;
  font-weight:bold;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px; 
  padding:7px 16px;
}

.sign-up ul li a:hover { background: #904799;}
.row { margin-bottom: 20px;}
.row-signup {margin: 0; padding: 0;  padding-bottom:24px; padding-top: 24px; margin-bottom: 53px; width: 100%; background: #F8F8F8; /*height: 90px;*/}
.content-text p { font-size: 12px;}
.content-text h5 { font-size: 14px;}
.row-content { margin: 0 auto; width: 400px; margin-top: 24px; margin-bottom: 36px;}
.row-content a { color: #FFF; 
         padding-left: 26px; 
         padding-right: 26px; 
         background: #EB7252;
         padding-top: 8px;
         padding-bottom: 8px;
         font-size: 18px;
         font-weight: bold; 
         float: left; 
         margin-left: 10px;
         margin-top: 10px; 
         color: #FFF;   
         border-radius: 5px; }
.row-content a:hover { background: #904799; text-decoration: none;}
.row-content h3 { float: left; font-size: 18px; font-weight: normal;}
 #myCarousel { height: 480px;}
 footer { margin-top: 60px; border-top: 1px solid #EDEDED; padding-top: 16px; margin-bottom: 150px; }
 .reg_footer { width:50%; margin:30px auto; border-top:none; text-align: center; position: relative; z-index:3; }

 /*--- LOGIN CSS--*/
 #login-trigger,
 #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none; 
}

#signup a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#login-content {
  display: none;
  position: absolute;
  top: 88px;
  z-index: 999;    
  background: #F0F0F0;  
  padding: 15px;
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

li #login-content {
  width: 250px;
  margin-left:-181px;  
  margin-top:-5px;
}

/*--------------------*/

#inputs input {
  background: #fff;
  padding: 10px 11px;
  margin: 0 0 15px 0;
  width: 90%;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
 /*-- -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;--*/
}

/*-----   Login Stuff  -----*/
#login .active { background:#f0f0f0; color:#3c3c3c; }


#login #actions {
  margin: 20px 0 0 0;
  text-align: center;
}

#login #submit {
  width:auto;
  display: inline;
  color: #fff;
  background: #EB7252;
  font-size:16px;
  font-weight:bold;
  text-decoration: none;
  padding: 10px 40px;
  margin:0 auto;
  border:none;
  border-radius: 4px;
}

#login #submit:hover,
#login #submit:focus {		
  background: #904799; }

  #login #submit:active {		
  }

  #login #submit::-moz-focus-inner {
    border: none;
  }

  #login label {
    font-size:18px;
    font-weight:bold;
    text-align:center;
    padding:10px 0 10px 0;
  }

  #login label a {
    background: none;
    float:none;
    margin-left:0;
    margin-top:10px;
    font-size:16px;
    font-weight: normal;
    color: #848484;
    text-decoration: underline;
  }

  #login label a:hover {
    background: none;
    color: #000;
    text-decoration: underline;
  }

  #login label input {
    position: relative;
    top: 2px;
    right: 2px;
  }


/* Form Submit */
   .form-submit {
    background:#747474; margin-top:-343px; margin-right:60px; float: right; position: relative; z-index:2; color:#fff; font-size:18px; font-weight:bold; padding:12px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px;
   }

/* Form Error */
  .form-error { 
    color: rgba(231, 97, 63, 1.0);
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
  }  

   .flt-left {
    float:left;
  }

  .flt-right{
    float:right;
  }

  .presentation {
    width:85%;
    margin:0 auto;
    margin-top: 50px;
    padding-top:65px;
    position:relative;
    font-size:16px;
    line-height: 24px;
  }

  .presentation h2{
    padding-top:60px;
    font-weight: normal;
    color:#0074c8;
  }

  .w45pc {
    width:45%;
  } 

  .clear{
    clear: both;
  }

  /* Sign Up Form + page */
  .grey {background: #f9f9f9;}
  .sign-up-form { margin:0 auto; padding-top:70px; height:50%; text-align: center;}

  /*Row override*/
  .row {margin-left:0;}

  /*Input Override*/
  .rhino-container input[type="text"], input[type="password"], input[type="email"], input[type="url"] {
    width:260px;
    padding:14px 10px;
  }

  .rhino-container select { 
    width:280px; 
    height:52px; 
    color:#3c3c3c;
    background: #f3f3f3; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f3f3f3 1%, #dfdfdf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f3f3f3), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f3f3f3 1%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f3f3f3 1%,#dfdfdf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f3f3f3 1%,#dfdfdf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f3f3f3 1%,#dfdfdf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-8 */
 } 

  .rhino-container .row { margin-bottom:0; }

  /*Grey Wrapper*/
  .grey #page #wrapper { margin:32px auto 0 auto; background:#f0f0f0; width: 400px; height:auto; max-height:700px; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; }
  .grey #page #wrapper h3 { font-size:18px; margin:0 auto 18px auto; padding-top:14px; }


  /* Rhino Slider */
  #slider { min-height:450px; height:auto; }


  /*changed*/
.rhino-btn {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    -moz-user-select: none;
    background:#747474;
    -webkit-border-radius: 3px 3px 3px 3px; 
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size:18px;
    padding: 12px;
    text-align: center;
    width:60px;
    z-index: 10;
    font-weight: bold;
    text-decoration: none;
}
/*changed*/
.rhino-prev, .rhino-next { bottom:300px; }
/*changed*/
.rhino-prev {
    left:59px;
    background-position:-168px 0;
}
/*changed*/
.rhino-next {
    right:0px;
    background-position:-106px 0;
}

/*.rhino-prev:hover { background-position:-168px -53px; }

.rhino-next:hover { background-position:-106px -53px; }*/

.rhino-toggle {
    top:-4px;
    left:-6px;
}

.rhino-play { background-position:0 0; }

.rhino-play:hover { background-position:0 -53px; }

.rhino-pause { background-position:-56px 0; }

.rhino-pause:hover { background-position:-56px -53px; }

.rhino-container { position:relative; }

.rhino-caption {
    position:absolute;
    background: #000;
    display:none;
    left:0;
    right:0;
    top:0;
    color:#fff;
    padding:10px;
    text-align:right;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
}


/*changed*/
.rhino-bullets {
    position: relative;
    top: -333px;
    margin-left:158px;
    z-index: 10;
    padding:0;
    float:left;
}

/*changed*/
.rhino-bullets:before, .rhino-bullets:after {
    position:absolute;
    display:block;
    left:-16px;
    content:' ';
    width:16px;
    height:26px;
}

.rhino-bullets:after {
    left:auto;
    right:-16px;
    background-position: -240px 0;
}
/*changed*/
.rhino-bullets li {
    float:left;
    display:inline;
    margin:0;
    width: 20px;
    margin:0 10px;
}
/*changed*/
.rhino-bullets li a.rhino-bullet {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    background: none repeat scroll 0 0 #e9f1f5;
    border: 1px solid #EEEEEE;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    font-size: 10px;
    text-align: center;
    padding: 0;
    color: #000;
    text-decoration:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:13px;
}

.rhino-bullets li a.rhino-bullet:hover, .rhino-bullets li a.rhino-bullet:focus {
    color:#999;
    background:#eee;
}
/*changed*/
.rhino-bullets li a.rhino-bullet.rhino-active-bullet {
    color:#000;
    background:#fff;
    border-bottom: none;
}