.header { margin-top: 50px;}
.logo { float: left;}
.navbar-new { width: 430px; margin-right: 0px; color: #000; float: left; margin-left: 78px; margin-top: 10px;}
.navbar-new ul li { display: inline;}
.navbar-new ul li a { display: inline; text-decoration: none; padding-right: 30px; color: #000; font-size: 14px; font-weight: bold;}
.img-header { width: 100%; min-height: 30px; padding-bottom:6px;}
.img-header img { float: left; margin-right: 10px; }
.img-header h3 { float: left;}
.sign-up { float: right; margin-top:-10px;}
.sign-up ul li { display: inline;}

.sign-up ul li:first-child a { background:#904799; }

.sign-up ul li a {
  background: #EB7252;
  float: left; 
  display: inline;
  border-radius: 3px; 
  color: #FFF;
  font-size:14px;
  font-weight:bold;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 10px; 
  padding:7px 16px;
}

.sign-up ul li a:hover { background: #904799;}
.row { margin-bottom: 20px;}
.row-content { margin: 0 auto; width: 400px;}
.row-content a { color: #FFF; 
 padding-left: 20px; 
 padding-right: 20px; 
 background: #EB7252; 
 float: left; 
 margin-left: 10px;
 margin-top: 10px; 
 color: #FFF; 	
 padding: 10px; 
 border-radius: 10px; }

 .row-content h3 { float: left;}
 #myCarousel { height: 480px;}
 footer { margin-top: 60px; border-top: 1px solid #EDEDED; padding-top: 10px; }

 /*--- LOGIN CSS--*/
 #login-trigger,
 #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none; 
}

#signup a {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#login-content {
  display: none;
  position: absolute;
  top: 88px;
  z-index: 999;    
  background: #F0F0F0;  
  padding: 15px;
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

li #login-content {
  width: 250px;
  margin-left:-181px;  
  margin-top:-5px;
}

/*--------------------*/

#inputs input {
  background: #fff;
  padding: 10px 11px;
  margin: 0 0 15px 0;
  width: 90%;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
 /*-- -moz-box-shadow: 0 0 0 1px #e8c291 inset;
  -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
  box-shadow: 0 0 0 1px #e8c291 inset;--*/
}

/*-----   Login Stuff  -----*/
#login .active { background:#f0f0f0; color:#3c3c3c; }


#login #actions {
  margin: 20px 0 0 0;
  text-align: center;
}

#login #submit {
  width:auto;
  display: inline;
  color: #fff;
  background: #EB7252;
  font-size:16px;
  font-weight:bold;
  text-decoration: none;
  padding: 10px 40px;
  margin:0 auto;
  border:none;
  border-radius: 4px;
}

#login #submit:hover,
#login #submit:focus {		
  background: #904799; }

  #login #submit:active {		
  }

  #login #submit::-moz-focus-inner {
    border: none;
  }

  #login label {
    font-size:18px;
    font-weight:bold;
    text-align:center;
    padding:10px 0 30px 0;
  }

  #login label a {
    background: none;
    float:none;
    margin-left:0;
    margin-top:10px;
    font-size:16px;
    font-weight: normal;
    color: #848484;
    text-decoration: underline;
  }

  #login label a:hover {
    background: none;
    color: #000;
    text-decoration: underline;
  }

  #login label input {
    position: relative;
    top: 2px;
    right: 2px;
  }